.blog__page {
    padding: 5% 10%;
  }
  
  .blog__page__header {
    font-size: 3vw;
    margin-left:2%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:var(--secondary-color);
    font-weight: 100;
  }
  
  .blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3%;
    padding: 5% 0;
  }
  
  .blog {
    width: 85%;
    margin: 0 auto;
    background: rgb(204, 212, 211);
    box-shadow: 5px 10px 10px 3px #1d1c1c;
    height: 90%;
    text-decoration: none;
    transition: width 1s, height 1s, transform 1s;
    color: rgb(14, 13, 13);
    
  }
  .blog:hover{
    width: 95%;
  height: 100%;
  transform: rotate(0deg);
  }
  .blog > div {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    padding: 0px 30px 0px 30px;
  }
  
  .blog > img {
    width: 100%;
  }
  
  .sourceName > span {
    display: inline;
    background: rgba(38, 0, 128, 0.226);
    font-size: 0.7vw;
    padding: 5px 6px;
    color: rgba(0, 11, 43, 0.534);
    border-radius: 3px;
  }
  
  .sourceName > p {
    font-size: 0.8vw;
    font-weight: 300;
    padding-left: 2%;
  }
  
  .sourceName {
    display: flex;
    align-items: center;
  }
  
  .blog > div > h1 {
    font-size: 1.2vw;
    letter-spacing: -0.6px;
    line-height: 1.3em;
    padding: 5% 0;
    font-weight: 500;
    text-decoration: underline;
  }
  
  .blog > div > p {
    font-size: .8vw;
    line-height: 1.6em;
    color: rgb(90, 90, 90);
    padding-bottom: 35%;
  }
  
  .no__blogs {
    font-size: 3vw;
    font-weight: 400;
    line-height: 1.5em;
  }